<a href="https://colab.research.google.com/github/manjumariappan21-gif/sales_dataset/blob/main/sales_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
file_path="/content/drive/MyDrive/archive.zip"

In [6]:
import numpy as np
import pandas as pd

In [8]:
data=pd.read_csv(file_path, encoding='latin1')

In [ ]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [10]:
import pandas as pd
import numpy as np
np.random.seed(42)

data = {
    "Order_ID": np.arange(1001, 1021),
    "Product": np.random.choice(["Laptop", "Mobile", "Tablet", "Headphones"], 20),
    "Category": np.random.choice(["Electronics", "Accessories"], 20),
    "Quantity": np.random.randint(1, 5, 20),
    "Price_per_Unit": np.random.randint(500, 50000, 20),
    "Region": np.random.choice(["North", "South", "East", "West"], 20),
    "Order_Date": pd.date_range(start="2025-01-01", periods=20)
}

df = pd.DataFrame(data)
df["Total_Sales"] = df["Quantity"] * df["Price_per_Unit"]

print(df)
df.to_csv("sales_dataset.csv", index=False)

    Order_ID     Product     Category  Quantity  Price_per_Unit Region  \
0       1001      Tablet  Accessories         3            4390  North
1       1002  Headphones  Electronics         3           42106   West
2       1003      Laptop  Accessories         2           31240  South
3       1004      Tablet  Accessories         4           15002   West
4       1005      Tablet  Accessories         4           22277   West
5       1006  Headphones  Accessories         4           11127  South
6       1007      Laptop  Accessories         4            9292  South
7       1008      Laptop  Accessories         3           43823  South
8       1009      Tablet  Accessories         2           43521  South
9       1010      Mobile  Accessories         2            8933  South
10      1011      Tablet  Electronics         3           43501   West
11      1012      Tablet  Electronics         2           11516  South
12      1013      Tablet  Accessories         3           24397  North
13      1014      Tablet  Accessories         4            3112   East
14      1015  Headphones  Accessories         3           23983  South
15      1016      Laptop  Electronics         4           49055  South
16      1017  Headphones  Accessories         4           17659   West
17      1018  Headphones  Electronics         1           45474  South
18      1019  Headphones  Electronics         3           41494  South
19      1020      Tablet  Electronics         1           15041  South

   Order_Date  Total_Sales
0  2025-01-01        13170
1  2025-01-02       126318
2  2025-01-03        62480
3  2025-01-04        60008
4  2025-01-05        89108
5  2025-01-06        44508
6  2025-01-07        37168
7  2025-01-08       131469
8  2025-01-09        87042
9  2025-01-10        17866
10 2025-01-11       130503
11 2025-01-12        23032
12 2025-01-13        73191
13 2025-01-14        12448
14 2025-01-15        71949
15 2025-01-16       196220
16 2025-01-17        70636
17 2025-01-18        45474
18 2025-01-19       124482
19 2025-01-20        15041